<%- include("partials/header"); -%>
    <h1>About</h1>
    <p> <%= aboutContent %> </p>
    <p>At Self QnA, we understand that everyone has unique perspectives and expertise to offer. We provide a space where you can not only seek answers to your questions but also contribute your knowledge to help others who may face similar challenges in the future.</p>
        
    <p>Our platform is designed to foster collaboration and engagement among our users. We encourage active participation, discussions, and the exchange of ideas. By connecting individuals from diverse backgrounds, we aim to create a rich and dynamic environment for learning and personal growth.</p>
        
    <p>With our intuitive search functionality and well-organized categories, finding the information you need has never been easier. Whether you're exploring a new subject, seeking solutions to problems, or simply looking to expand your knowledge, Self QnA is here to support you every step of the way.</p>
        
    <p>Join our growing community of knowledge seekers and sharers, and let's embark on a journey of discovery together. Together, we can build a comprehensive knowledge base that benefits individuals worldwide. Start asking, answering, and exploring on Self QnA today!</p>
    <form action="/compose">
    <button type="submit" class="btn-primary btn">PUBLISH A QUESTION TODAY</button>
    </form>
<%- include("partials/footer"); -%>
