<%- include("partials/header"); -%>
<div class="text-center">
    <h1>Contact</h1>
    <p> <%= contactContent %> </p>
    <hr>
    <h2 class="">General Inquiries</h2>
    <p>For general questions, partnership opportunities, or any other inquiries, please email us at <a href="#">[email protected]</a> We will do our best to respond to your message as soon as possible.</p>
    <hr>
    <h2 class="">Technical Support</h2>
    <p>If you are experiencing any technical issues or have questions related to the functionality of the website, please contact our technical support team at <a href="#">[email protected]</a> Our dedicated support staff will work diligently to assist you and resolve any technical concerns you may have.</p>
    <hr>
    <h2 class="">Report Content</h2>
    <p>We take the quality and integrity of our platform seriously. If you come across any content that violates our community guidelines or terms of service, please report it to us immediately. You can report content by sending an email to <a href="#">[email protected]</a> with detailed information about the issue. We appreciate your help in keeping our community safe and respectful.</p>
    <hr>
    <h2 class="">FeedBack and Suggestions</h2>
    <p>We greatly value your feedback and suggestions for improving our platform. If you have any ideas, features you'd like to see, or suggestions on how we can enhance your experience on Self QnA, please share them with us. We welcome your input and strive to make continuous improvements to better serve our users. Please email us at <a href="#">[email protected]</a> with your feedback and suggestions.</p>
    <hr>
    <p>Thank you for your interest in Self QnA. We appreciate your support and look forward to hearing from you.</p>
    <hr>
    <form action="/">
    <button type="submit" class="btn btn-primary">CONTINUE BROWSING</button>
    </form>
</div>
<%- include("partials/footer"); -%>
